nav {
    height: 120px;
    background-color: #4056A1;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%
    
}

#tweeter {
    font-family: 'Bungee', sans-serif;
    margin-left: 1.5em;
}

#write-tweet {
    margin-right: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#arrow {
    color: red;
}

@media(max-width: 800px) {
  nav {
    background-color: goldenrod;
  }
}